/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: "Lato", sans-serif; /* font is inherit by child tags. More efficient then use the universal selector */
    font-weight: 400;
    font-size: 16px; /* Later we are going to use a better approach */
    line-height: 1.7;
    color: #777;
}

.header{
    height: 95vh; /* 95% viewport height*/
    background-image: linear-gradient(to right bottom, rgba(128, 214, 113, 0.8), rgba(40, 180, 133, 0.8)), url('../img/hero.jpg'); /*Put a gradient hovering header img*/
    background-size: cover;
    background-position: top; /*Ensure image always stays at the top of the page*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*Place a figure and give the axis to get the image in that area.*/
    position: relative;
}

.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo{
    height: 35px;
}

.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Situates it acording to itself*/
    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.4px;
    animation: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s; /*Initial state of animation*/
    position: relative;
}
.btn:hover{
    transform: translateY(-3px); /*Movement passing throught the button*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn:active{
    transform: translateY(-1px); /*Movement clicking the button*/
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.btn::after{
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-white{
    background-color: #fff;
    color: #777;
}
.btn-white::after{
    background-color: #fff;
}

.btn-animated{
    animation: moveInButton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; /*Don't apply styles at beggining of animation*/
}

@keyframes moveInLeft {
    /*Movement on the header main text*/
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}