/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485; 

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px; /*root font-size is 10px. Esiest for calculations 1rem = 10px*/
}

body {
    font-family: "Lato", sans-serif; /* font is inherit by child tags. More efficient then use the universal selector */
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;
}

.header{
    height: 95vh; /* 95% viewport height*/
    background-image: linear-gradient(to right bottom, rgba(color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url('../img/hero.jpg'); /*Put a gradient hovering header img*/
    background-size: cover;
    background-position: top; /*Ensure image always stays at the top of the page*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*Place a figure and give the axis to get the image in that area.*/
    position: relative;
}

.header__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo{
    height: 3.5rem;
}

.header__text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Situates it acording to itself*/
    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem;
}

.heading-primary--main{
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary--sub{
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    animation: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.btn:link,
.btn:visited{
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s; /*Initial state of animation*/
    position: relative;
}
.btn:hover{
    transform: translateY(-3px); /*Movement passing throught the button*/
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn:active{
    transform: translateY(-1px); /*Movement clicking the button*/
    box-shadow: 0 .5rem 2rem rgba($color-black, 0.2);
}
.btn::after{
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn--white{
    background-color: #fff;
    color: $color-grey-dark;
}
.btn--white::after{
    background-color: #fff;
}

.btn--animated{
    animation: moveInButton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; /*Don't apply styles at beggining of animation*/
}

@keyframes moveInLeft {
    /*Movement on the header main text*/
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}