.row {
    max-width: $grid-width; // different than width
    background-color: #eee;
    margin: 0 auto; // trick to center block element inside of another block elements. auto value results in a margin of the same size left and right 
    
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2); // calc in SASS allow mix units in calculations
        background-color: orangered;
        float: left;
    }

}
